.navbar {
    background-color: rgb(0, 243, 162);
    padding: 1px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbarBrand{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;

}

.nvbarNav {
    list-style: none;
    display: flex;
}

.navItem { 
    margin-left: 40px;
}


.navLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;

}

.content {
    text-align: center;
    margin-top: 50px;
}

.footer { 
    background-color: rgb(0, 248, 103);
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}